#text{
    width: 100vw;
    height: 100vh;
}
#sideMenu{
    padding: 0;
    position: absolute;
    width: 12.5%;
    margin-left: 87.5%;
    text-align: center;
    background-color: rgba(0,0,0,0.15);
    height: 100vh;
    z-index: 1;
}
#sideMenuUl{
    list-style-type: none;
    padding: 0;
}
#sideMenuLi{
    padding: 8px;
    cursor: pointer;
}
#labels{
    position: relative;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    gap: 10px;
}
#textOne{
    border:1px solid rgba(0,0,0,0.2);
    padding: 10px;
    width: 50%;
    transition: 0.2s;
}

#textOne:hover{
    background-color: rgba(0,0,0,0.02);
}
#textTwo{
    border:1px solid rgba(0,0,0,0.2);
}


#end{
    width: 100vw;
    height: 300px;
    background-color: rgba(0,0,0,0.4);
    margin-left: -8px;
    margin-bottom: -8px;
    display: flex;
    justify-content: space-around;
}

#endContacts{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.end_a a{
    color: black;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.end_a{
    position: relative;
    z-index: 1;
    padding: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end_a:nth-child(2), .end_a:nth-child(3), .end_a:nth-child(4), .end_a:nth-child(5){
    margin-top:0px;
}

.end_a.end_a:nth-child(1){
    margin-top: 0px;
}



#end_a_1::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid black transparent;
    border-left: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationBefore, none);

}

#end_a_1::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 1px solid black transparent;
    border-top: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationAfter, none);

}

#end_a_2::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid black transparent;
    border-left: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationBefore, none);

}

#end_a_2::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 1px solid black transparent;
    border-top: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationAfter, none);

}

#end_a_3::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid black transparent;
    border-left: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationBefore, none);

}

#end_a_3::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 1px solid black transparent;
    border-top: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationAfter, none);

}

#end_a_4::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid black transparent;
    border-left: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationBefore, none);

}

#end_a_4::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 1px solid black transparent;
    border-top: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationAfter, none);

}

#end_a_5::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid black transparent;
    border-left: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationBefore, none);

}

#end_a_5::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 1px solid black transparent;
    border-top: 1px solid black transparent;
    border-radius: 0.25em;
    animation: var(--animationAfter, none);

}
#partners{
    text-transform: uppercase;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    
}
#end_partners_img_one{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#end_partners_img_one img{
    width: 80px;
}

#end_partners_img_two{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#end_partners_img_two img{
    width: 100px;
}

#partners{
    width: 30%;
    height: 100%;
}
#partnersH2{
    text-align: center;
}

#end_partners_p_1{
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 6px;
}
#end_partners_p_2{
    opacity: 0.8;
    margin-bottom: 6px;
}

#labels_title{
    position: relative;
    width: 100%;
    height: 65px;
    background-color: lightsteelblue;
    color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 30px;
    cursor: pointer;
    z-index: -10;

}
#labels_title h2{
    margin-bottom: 8px;
    padding-top:4px;
    padding-left: 10px;
    position: relative;
}
#labels_title p{
    margin-top: 0;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    padding-bottom: 8px;
}

#end_last{
    width: 100vw;
    height:30px;
    background-color: rgba(0,0,0,0.4);
    margin-left: -8px;
    margin-bottom: -8px;
    margin-top:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#last{
    color: rgba(0,0,0,0.6);

}
#universal_hover{
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 2px;
    width: 50%;
    margin-left: 25%;
    transition: 0.6s;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}
#universal_hover:hover{
    transform: scale(1.005);
    color: rgba(0,0,0,0.9);
}
#universal_hover::before{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    animation: var(--Universal_animation, none);
}

@keyframes partner_before_up {
    0%{
        border-bottom: 2px solid rgba(0,0,0,0.5) transparent;
        border-left: 2px solid rgba(0,0,0,0.5) transparent;
        width: 0;
        height: 0;
        background-color: none;
    }
    50%{
        border-bottom: 2px solid rgba(0,0,0,0.5);
        border-left: 2px solid rgba(0,0,0,0.5);
        width: 0;
        height: 0;
    }
    100%{
        border-bottom: 2px solid rgba(0,0,0,0.5);
        border-left: 2px solid rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.05)
    }
}

@keyframes partner_before_down {
    0%{
        border-bottom: 2px solid rgba(0,0,0,0.5);
        border-left: 2px solid rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.05)
    }
    50%{
        border-bottom: 2px solid rgba(0,0,0,0.5);
        border-left: 2px solid rgba(0,0,0,0.5);
        width: 0;
        height: 0;
    }
    100%{
        border-bottom: 2px solid rgba(0,0,0,0.5) transparent;
        border-left: 2px solid rgba(0,0,0,0.5) transparent;
        width: 0;
        height: 0;
        background-color: none;
    }
}

@keyframes partner_after_up {
    0%{
        border-top: 2px solid rgba(0,0,0,0.5) transparent;
        border-right: 2px solid rgba(0,0,0,0.5) transparent;
        width: 0;
        height: 0;
        background-color: none;
    }
    50%{
        border-top: 2px solid rgba(0,0,0,0.5);
        border-right: 2px solid rgba(0,0,0,0.5);
        width: 0;
        height: 0;
    }
    100%{
        border-top: 2px solid rgba(0,0,0,0.5);
        border-right: 2px solid rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.05)
    }
}

@keyframes partner_after_down {
    0%{
        border-top: 2px solid rgba(0,0,0,0.5);
        border-right: 2px solid rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.05)
    }
    50%{
        border-top: 2px solid rgba(0,0,0,0.5);
        border-right: 2px solid black;
        width: 0;
        height: 0;
    }
    100%{
        width: 0;
        height: 0;
        border-top: 2px solid black transparent;
        border-right: 2px solid black transparent;
        background-color: none;
    }
}

@keyframes universal_hover_animation_forwards {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes universal_hover_animation_backwards {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

