#text{
    width: 100vw;
}
#sideMenu{
    padding: 0;
    position: absolute;
    width: 12.5%;
    margin-left: 87.5%;
    text-align: center;
    background-color: rgba(0,0,0,0.15);
    height: 100vh;
}
#sideMenuUl{
    list-style-type: none;
    padding: 0;
}
#sideMenuLi{
    padding: 8px;
    cursor: pointer;
}
#labels{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 0;
    gap: 10px;;
}
#textOne{
    border:1px solid rgba(0,0,0,0.2);
    padding: 10px;
    max-width: 100%;
    transition: 0.2s;
    cursor: pointer;
}

#textOne:hover{
    background-color: rgba(0,0,0,0.05);
}
#textTwo{
    border:1px solid rgba(0,0,0,0.2);
}
