@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body{
    font-family: 'Montserrat';
    box-sizing: border-box;
}
::selection{
    background-color: white;
    color: rgba(0,0,0,0.8)
}
#menu{
    width: 100vw;
    background-color: lightgrey;
    margin-top: -8px;
    margin-left: -8px;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/Nepojmenované.jpg);
    background-size: cover;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
#menu > ul{
    display: flex;
    margin: 0;
    padding-left: 0;
    justify-content: center;
    width: 100%;
}
.MenuSecond{
    list-style-type: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}
.MenuSecond p{
    z-index: -1;
}
.MenuSecond:hover{
    box-shadow: 1px 0px 10px;
    background-color: rgba(0,0,0,0.1);
}
#menuSecondHoverOne{
    transition: 0.2s;
}

.menuUnderSecondOne{
    position: absolute;
    z-index: 1;
    background-color: lightsteelblue;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    position: relative;
    transition: 0.2s;
    overflow: hidden;
    font-size: 15px;
}

.menuUnderSecondOne:hover{
    margin-left: 4px;
}

.menuUnderSecondOne::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width:0;
    height: 100%;
    background: url(../img/pngtree-blue-arrows-image_934739.jpg);
    background-size: cover;
    opacity: 0.35;
}
.menuUnderSecondOne:hover::before{
    animation:menuUnderSecondAnimation 0.5s forwards ;
}
.menuUnderSecondOne::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -120px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.menuUnderSecondOne:hover::after{
    animation:menuUnderSecondAnimationAfter 0.7s forwards;
}

#menuUnderOne{
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    left: -0.5%;
    height: 0px;
    display: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100px;
    overflow: hidden;
    opacity:1;
}
#menuUnderTwo{
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    left: -0.5%;
    height: 0px;
    display: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100px;
    overflow: hidden;
    opacity: 1;
}
.menuUnderSecondOne{
    background: url(../img/Diagonal-Bricks-Grey-Seamless-Pattern-For-Website-Background.jpg);
    background-size: cover;
    border-left: 2px solid rgba(0,0,0,0.2);
}
#menuUnderSecondOneOne{
    border-top:2px solid rgba(0,0,0,0.2) ;
}

#menuSecondThree{
    list-style-type: none;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.MenuSecond a{
    text-decoration: none;
    color:black;

}
#menuSecondThree::before{
    content: '';
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    height: 0;
    top: 0;
    left: 0;
}
#menuSecondThree:hover::before{
    animation: mainMenuAnimation 0.5s forwards;

}

#platno{
    background: url(../img/Kladno_CZ_grammar_school_024.jpg) center center;
    background-size: cover;
    margin-left: -8px;
    width: 100vw;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#canvas{
    position: absolute;
    width: 100vw;
    height: 900px;
    background-color: rgba(0,0,0,0.65);
}
#title{
    position: absolute;
    font-size: 64px;
    color:rgba(255,255,255,0.8);
    margin: 0;
    text-align: center;
    z-index: 1;
}
#sideMenuTwo{
    display: none;
}
#sideMenuUl{
    list-style-type: none;
    padding: 0;
    margin-top:5px;
    margin-right: 4px;
    position: sticky;
    top: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
#sideMenuLiOne{
    padding: 4px;
    cursor: pointer;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s;
    border-top-left-radius: 0.5em;
}
#sideMenuLiPOne{
    margin: 4px;
    transition: 0.2s;
    padding: 4px;

}
#sideMenuUnderUlOne{
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    display: none;
    height: 0px;
    position: relative;
    top: 1px;

}
#sideMenuUnderLiOne{
    margin: 5px;
    margin-left: 0;
    padding: 4px;
    margin-left: 0;
    position: relative;
}
#sideMenuLiP{
    margin: 8px;
}

#sideMenuLiTwo{
    padding: 4px;
    cursor: pointer;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s;
}
#sideMenuUnderUlTwo{
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    display: none;
    height: 0px;
    position: relative;
    top: 1px;

}
#sideMenuUnderLiTwo{
    margin: 5px;
    margin-left: 0;
    padding: 4px;
    position: relative;
}

#sideMenuLiThree{
    padding: 4px;
    cursor: pointer;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s;
}
#sideMenuUnderUlThree{
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    display: none;
    height: 0px;
    position: relative;
    top: 1px;

}
#sideMenuUnderLiThree{
    margin: 5px;
    margin-left: 0;
    padding: 4px;
    position: relative;
}

#sideMenuLiFour{
    padding: 4px;
    cursor: pointer;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s;
}
#sideMenuUnderUlFour{
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    display: none;
    height: 0px;
    position: relative;
    top: 1px;

}
#sideMenuUnderLiFour{
    margin: 5px;
    margin-left: 0;
    padding: 4px;
    position: relative;
}

#sideMenuLiFive{
    padding: 4px;
    cursor: pointer;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s;
}
#sideMenuUnderUlFive{
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    display: none;
    height: 0px;
    position: relative;
    top: 1px;

}
#sideMenuUnderLiFive{
    margin: 5px;
    margin-left: 0;
    padding: 4px;
    position: relative;
}

#sideMenuLiSix{
    padding: 4px;
    cursor: pointer;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    transition: 0.2s;
    border-bottom-left-radius: 0.5em;
}
#sideMenuUnderUlSix{
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    display: none;
    height: 0px;
    position: relative;
    top: 1px;

}
#sideMenuUnderLiSix{
    margin: 5px;
    margin-left: 0;
    padding: 4px;
    position: relative;
}
#sideMenuUnderLiSix a{
    text-decoration: none;
    color: black;
}

#sideMenuUnderLiOne::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    animation: var(--AnimationSide, none);
}

#sideMenuUnderLiTwo::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    animation: var(--AnimationSide, none);
}

#sideMenuUnderLiThree::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    animation: var(--AnimationSide, none);
}

#sideMenuUnderLiFour::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    animation: var(--AnimationSide, none);
}

#sideMenuUnderLiFive::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    animation: var(--AnimationSide, none);
}

#sideMenuUnderLiSix::before{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    animation: var(--AnimationSide, none);
}

#menuA{
    padding-top: 100%;
    padding-bottom: 20px;
    color: black;
    text-decoration: none;
    position: relative;
}
#title_span{
    font-size: 22px;
    color: rgba(255,255,255,0.6);
    margin-top: -20px;
}
#fotogalerieArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-gap: 30px;
}
#fotogalerieArticle img{
    width: 15%;
    height: 10%;
    box-shadow: 0px 0px 3px;
}
#textOneP{
    margin-top: 8px;
}
#textOneH1{
    margin-bottom: 0;
    font-size: 22px;
}
#textOne a{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
#textOne a::before{
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: -5px;
    opacity: 0;
    left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.35);
}
#textOne a:hover::before{
    animation:textOneA_animation_up 0.5s forwards ;
}
#labels h1{
    font-size: 22px;;
}
#labels h2{
    font-size: 18px;;
}


@keyframes textOneA_animation_up {
    0%{
        opacity: 0;
        bottom: -2px;
    }
    100%{
        opacity: 1;
        bottom: 0px;;
    }
}

@keyframes textOneA_animation_down {
    0%{
        opacity: 1;
        bottom: 0px;;
    }
    100%{
        opacity: 0;
        bottom: -2px;
    }
}
@keyframes sideDown {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes sideUp {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes sideHoverAnimation {
    0%{
        border: 1px solid black transparent;
    }
    100%{
        border: 1px solid black;
    }
}

@keyframes sideMenuAnimationDownOne{
    0%{
        height: 0px;
    }
    100%{
        height: 135px;
    }    
}
@keyframes sideMenuAnimationUpOne{
    0%{
        height: 135px;
    }
    100%{
        height: 0px;
    }    
}

@keyframes sideMenuAnimationDownTwo{
    0%{
        height: 0px;
    }
    100%{
        height: 100px;
    }    
}
@keyframes sideMenuAnimationUpTwo{
    0%{
        height: 100px;
    }
    100%{
        height: 0px;
    }    
}

@keyframes sideMenuAnimationDownThree{
    0%{
        height: 0px;
    }
    100%{
        height: 100px;
    }    
}
@keyframes sideMenuAnimationUpThree{
    0%{
        height: 100px;
    }
    100%{
        height: 0px;
    }    
}

@keyframes sideMenuAnimationDownFour{
    0%{
        height: 0px;
    }
    100%{
        height: 45px;
    }    
}
@keyframes sideMenuAnimationUpFour{
    0%{
        height: 45px;
    }
    100%{
        height: 0px;
    }    
}

@keyframes sideMenuAnimationDownFive{
    0%{
        height: 0px;
    }
    100%{
        height: 260px;
    }    
}
@keyframes sideMenuAnimationUpFive{
    0%{
        height: 260px;
    }
    100%{
        height: 0px;
    }    
}

@keyframes sideMenuAnimationDownSix{
    0%{
        height: 0px;
    }
    100%{
        height: 220px;
    }    
}
@keyframes sideMenuAnimationUpSix{
    0%{
        height: 220px;
    }
    100%{
        height: 0px;
    }    
}
@keyframes menuUnderSecondAnimation{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes menuUnderSecondAnimationAfter{
    0%{
        left: -120px;
    }
    100%{
        left: 110px;
    }
}

@keyframes menuUnderAnimation{
    0%{
        height: 0;
    }
    100%{
        height: 350px;
    }
}

@keyframes menuUnderAnimationUp{
    0%{
        height: 350px;
    }
    100%{
        height: 0;
    }
}
@media (max-width:100vw){
    #hamburger_menu{
        display: none;
    }

}


@media (max-width:2000px){

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 310px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 310px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }

    @keyframes sideMenuAnimationDownOne{
        0%{
            height: 0px;
        }
        100%{
            height: 170px;
        }    
    }
    @keyframes sideMenuAnimationUpOne{
        0%{
            height: 170px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }

}


@media (max-width:1800px){

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 330px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 330px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }

}


@media (max-width:1660px){

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 360px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 360px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }

}


@media (max-width:1605px){

    @keyframes sideMenuAnimationDownOne{
        0%{
            height: 0px;
        }
        100%{
            height: 175px;
        }    
    }
    @keyframes sideMenuAnimationUpOne{
        0%{
            height: 175px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }
    
}


@media (max-width:1315px){

    @keyframes sideMenuAnimationDownOne{
        0%{
            height: 0px;
        }
        100%{
            height: 190px;
        }    
    }
    @keyframes sideMenuAnimationUpOne{
        0%{
            height: 190px;
        }
        100%{
            height: 0px;
        }    
    }

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 340px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 340px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }
    
}


@media (max-width:1300px){

    @keyframes sideMenuAnimationDownOne{
        0%{
            height: 0px;
        }
        100%{
            height: 225px;
        }    
    }
    @keyframes sideMenuAnimationUpOne{
        0%{
            height: 225px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }
    
}


@media (max-width:1300px){

    @keyframes sideMenuAnimationDownOne{
        0%{
            height: 0px;
        }
        100%{
            height: 235px;
        }    
    }
    @keyframes sideMenuAnimationUpOne{
        0%{
            height: 235px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }
    
}


@media (max-width:1255px){

    @keyframes sideMenuAnimationDownOne{
        0%{
            height: 0px;
        }
        100%{
            height: 245px;
        }    
    }
    @keyframes sideMenuAnimationUpOne{
        0%{
            height: 245px;
        }
        100%{
            height: 0px;
        }    
    }

    @keyframes sideMenuAnimationDownTwo{
        0%{
            height: 0px;
        }
        100%{
            height: 120px;
        }    
    }
    @keyframes sideMenuAnimationUpTwo{
        0%{
            height: 120px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }

    @keyframes sideMenuAnimationDownFour{
        0%{
            height: 0px;
        }
        100%{
            height: 80px;
        }    
    }
    @keyframes sideMenuAnimationUpFour{
        0%{
            height: 80px;
        }
        100%{
            height: 0px;
        }    
    }

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 390px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 390px;
        }
        100%{
            height: 0px;
        }    
    }
    
}


@media (max-width:1220px){

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 400px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 400px;
        }
        100%{
            height: 0px;
        }    
    }
    #hamburger_menu{
        display: none;
    }
    
}


@media (max-width:1150px){

    @keyframes sideMenuAnimationDownTwo{
        0%{
            height: 0px;
        }
        100%{
            height: 130px;
        }    
    }
    @keyframes sideMenuAnimationUpTwo{
        0%{
            height: 130px;
        }
        100%{
            height: 0px;
        }    
    }

    @keyframes sideMenuAnimationDownThree{
        0%{
            height: 0px;
        }
        100%{
            height: 110px;
        }    
    }
    @keyframes sideMenuAnimationUpThree{
        0%{
            height: 110px;
        }
        100%{
            height: 0px;
        }    
    }

    @keyframes sideMenuAnimationDownFour{
        0%{
            height: 0px;
        }
        100%{
            height: 70px;
        }    
    }
    @keyframes sideMenuAnimationUpFour{
        0%{
            height: 70px;
        }
        100%{
            height: 0px;
        }    
    }

    @keyframes sideMenuAnimationDownFive{
        0%{
            height: 0px;
        }
        100%{
            height: 415px;
        }    
    }
    @keyframes sideMenuAnimationUpFive{
        0%{
            height: 415px;
        }
        100%{
            height: 0px;
        }    
    }
    html,
    body{
        font-size: 12px;
    }

    #sideMenu{
        display: none;
    }
    #menu{
        justify-content: left;
    }
    .menuUnderSecondOne{
        font-size: 12px;;
    }
    #hamburger_menu{
        display: none;
    }
    #textOneArticle img{
        width: 200px;
    }
    #textOne, #textTwo{
        width: 90% !important;
    }
    #labels_title{
        width: 95% !important;
    }
    #textOneOne{
        width: 90% !important;
    }
    #platno, #canvas{
        height: 500px;
    }
}
@media (max-width:450px){
    
    html,
    body{
        font-size: 12px;
    }
    #title{
        color:rgba(255,255,255,1);
        font-size: 32px;
    }
    #menu{
        justify-content: center;
        display: block;
    }
    #menu > ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none
    }
    #menuUnderOne{
        opacity: 1;
        z-index: 1;
    }
    #sideMenuTwo{
        display: block;
        z-index: 1;
        position: relative;
    }
    #canvas, #platno{
        height: 600px;
    }
    #hamburger_menu{
        display: flex;
    }
    #textOne, #textTwo{
        width: 90% !important;
    }
    #labels_title{
        width: 95% !important;
    }
    #textOneOne{
        width: 90% !important;
    }
    #textOneArticle img{
        width: 200px;
    }
    #menu{
        display: none;
    }
    #hamburger_menu, #menu_hamburger_ul{
        
    }
    #menu_hamburger_ul{
        margin-top:0 !important;
    }
    

}



